In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder



# Import our input dataset
charities_df = pd.read_csv('charity_data.csv')
charities_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
len(charities_df)

34299

In [6]:
# Make copy of dataframe and drop unnecessary columns
charities = charities_df.copy()
charities = charities.drop(columns=['EIN', 'NAME'])

In [7]:
charities

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Generate our categorical variable list
charities_cat = charities.dtypes[charities.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
charities[charities_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [9]:
# Check the unique value counts to see if binning is required
application_df = charities.APPLICATION_TYPE.value_counts()
application_df

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Determine which values to replace
replace_applicationtype = list(application_df[application_df < 100].index)

# Replace in DataFrame
for application in replace_applicationtype:
    charities.APPLICATION_TYPE = charities.APPLICATION_TYPE.replace(application,"Other")


# Check to make sure binning was successful
charities.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Check the unique value counts to see if binning is required
classification_df = charities.CLASSIFICATION.value_counts()
classification_df.head(50)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C1267        2
C3200        2
C1256        2
C1234        2
C1246        2
C1248        1
C1900        1
C2570        1
C6100        1
C4120        1
Name: CLASSIFICATION, dtype: int64

In [12]:
# Determine which values to replace
replace_classification = list(classification_df[classification_df < 100].index)

# Replace in DataFrame
for classifier in replace_classification:
    charities.CLASSIFICATION = charities.CLASSIFICATION.replace(classifier,"Other")


# Check to make sure binning was successful
charities.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charities[charities_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charities_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
len(encode_df)

34299

In [15]:
# Merge one-hot encoded features and drop the originals
charities = charities.merge(encode_df,left_index=True, right_index=True)
charities = charities.drop(charities_cat,1)
charities.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Remove successful status target from features data
y = charities.IS_SUCCESSFUL
X = charities.drop(columns=["IS_SUCCESSFUL"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  49
hidden_nodes_layer2 = 24

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 49)                2499
_________________________________________________________________
dense_1 (Dense)              (None, 24)                1200
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 25
=================================================================
Total params: 3,724
Trainable params: 3,724
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Check data types
print(type(X_train_scaled),type(y_train),type(X_test_scaled),type(y_test))

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'> <class 'numpy.ndarray'> <class 'pandas.core.series.Series'>

In [19]:
# Convert serires to ndarray
import numpy as np 

y_train = np.array(y_train)
y_test = np.array(y_test)

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5825 - accuracy: 0.7103
Epoch 2/100
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5510 - accuracy: 0.7307
Epoch 3/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5478 - accuracy: 0.7325
Epoch 4/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5468 - accuracy: 0.7340
Epoch 5/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5456 - accuracy: 0.7354
Epoch 6/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5448 - accuracy: 0.7342
Epoch 7/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5442 - accuracy: 0.7348
Epoch 8/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5434 - accuracy: 0.7345
Epoch 9/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5426 - accuracy: 0.7355
Epoch 10/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5421 - accuracy: 0.7378
Epoch 11/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.5421 - accuracy: 0.7370
Epoch 12/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5416 - accuracy: 0.7365
Epoch 13/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5409 - accuracy: 0.7375
Epoch 14/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5411 - accuracy: 0.7370
Epoch 15/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5403 - accuracy: 0.7376
Epoch 16/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5403 - accuracy: 0.7368
Epoch 17/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5399 - accuracy: 0.7375
Epoch 18/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5391 - accuracy: 0.7374
Epoch 19/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5387 - accuracy: 0.7378
Epoch 20/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5392 - accuracy: 0.7385
Epoch 21/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5384 - accuracy: 0.7381
Epoch 22/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5382 - accuracy: 0.7385
Epoch 23/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5383 - accuracy: 0.7388
Epoch 24/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5374 - accuracy: 0.7395
Epoch 25/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5379 - accuracy: 0.7386
Epoch 26/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5373 - accuracy: 0.7389
Epoch 27/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5371 - accuracy: 0.7396
Epoch 28/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5372 - accuracy: 0.7397
Epoch 29/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5369 - accuracy: 0.7396
Epoch 30/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5370 - accuracy: 0.7394
Epoch 31/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5366 - accuracy: 0.7394
Epoch 32/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5364 - accuracy: 0.7400
Epoch 33/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5365 - accuracy: 0.7400
Epoch 34/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5357 - accuracy: 0.7401
Epoch 35/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5359 - accuracy: 0.7409
Epoch 36/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5359 - accuracy: 0.7402
Epoch 37/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5358 - accuracy: 0.7408
Epoch 38/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5356 - accuracy: 0.7407
Epoch 39/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5351 - accuracy: 0.7409
Epoch 40/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5354 - accuracy: 0.7409
Epoch 41/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5353 - accuracy: 0.7412
Epoch 42/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5351 - accuracy: 0.7403
Epoch 43/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5352 - accuracy: 0.7414
Epoch 44/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5348 - accuracy: 0.7406
Epoch 45/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5351 - accuracy: 0.7406
Epoch 46/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5348 - accuracy: 0.7412
Epoch 47/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5346 - accuracy: 0.7409
Epoch 48/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5343 - accuracy: 0.7402
Epoch 49/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5345 - accuracy: 0.7411
Epoch 50/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5344 - accuracy: 0.7405
Epoch 51/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5341 - accuracy: 0.7413
Epoch 52/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5338 - accuracy: 0.7408
Epoch 53/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5341 - accuracy: 0.7404
Epoch 54/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5338 - accuracy: 0.7410
Epoch 55/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5339 - accuracy: 0.7404
Epoch 56/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5336 - accuracy: 0.7414
Epoch 57/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5335 - accuracy: 0.7413
Epoch 58/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5336 - accuracy: 0.7398
Epoch 59/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5335 - accuracy: 0.7417
Epoch 60/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5337 - accuracy: 0.7414
Epoch 61/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5335 - accuracy: 0.7411
Epoch 62/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5335 - accuracy: 0.7409
Epoch 63/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5332 - accuracy: 0.7426
Epoch 64/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5332 - accuracy: 0.7411
Epoch 65/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5332 - accuracy: 0.7420
Epoch 66/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5332 - accuracy: 0.7407
Epoch 67/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5335 - accuracy: 0.7413
Epoch 68/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5329 - accuracy: 0.7413
Epoch 69/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5330 - accuracy: 0.7405
Epoch 70/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5327 - accuracy: 0.7413
Epoch 71/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5323 - accuracy: 0.7418
Epoch 72/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5326 - accuracy: 0.7422
Epoch 73/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5328 - accuracy: 0.7408
Epoch 74/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5326 - accuracy: 0.7417
Epoch 75/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5327 - accuracy: 0.7415
Epoch 76/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5327 - accuracy: 0.7412
Epoch 77/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5324 - accuracy: 0.7417
Epoch 78/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5325 - accuracy: 0.7411
Epoch 79/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5322 - accuracy: 0.7414
Epoch 80/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5322 - accuracy: 0.7413
Epoch 81/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5322 - accuracy: 0.7419
Epoch 82/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5318 - accuracy: 0.7414
Epoch 83/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5321 - accuracy: 0.7415
Epoch 84/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5318 - accuracy: 0.7411
Epoch 85/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5321 - accuracy: 0.7415
Epoch 86/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5317 - accuracy: 0.7420
Epoch 87/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5319 - accuracy: 0.7422
Epoch 88/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5321 - accuracy: 0.7418
Epoch 89/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5319 - accuracy: 0.7423
Epoch 90/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5317 - accuracy: 0.7421
Epoch 91/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5317 - accuracy: 0.7414
Epoch 92/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5312 - accuracy: 0.7427
Epoch 93/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5316 - accuracy: 0.7412
Epoch 94/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5317 - accuracy: 0.7418
Epoch 95/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5310 - accuracy: 0.7420
Epoch 96/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5312 - accuracy: 0.7421
Epoch 97/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5313 - accuracy: 0.7423
Epoch 98/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5315 - accuracy: 0.7417
Epoch 99/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5311 - accuracy: 0.7411
Epoch 100/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5313 - accuracy: 0.7423
8575/1 - 1s - loss: 0.5847 - accuracy: 0.7247
Loss: 0.555261065751401, Accuracy: 0.7246647477149963